<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testng.xml" parallel="false">
  <parameter name="username" value="fescd"/>
  <parameter name="password" value="a123456"/>
  <test verbose="4" name="C11APP_Test">
    <classes>
      <class name="com.test.testcase.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
